.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
