.container {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    background-color: rgb(225, 239, 243);
    color: navy

}