.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/images/mountains-8292685_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container section {
    padding: 0px 22px;
  }
  
  .container > section {
    width: 150%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .about {
    height: 81vh;
    width: 100%;
  }

  .about h1 {
    color:navy;
    background-color: white;
  }

  .about p {
    color: white;
    background-color: navy;
  }

  
  @media only screen and (max-width: 1024px) {
    .about {
      height: 420px;
    }
  }
  
  @media only screen and (max-width: 912px) {
    .about {
      height: 460px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .about {
      height: 560px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .about {
      height: 660px;
    }
    .container section > img {
      min-width: 340px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .about {
      height: 800px;
    }
    .container section > img {
      min-width: 340px;
    }
  }
  