.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin: 1px;
}

button {
    margin: 30px;
    width: 25%;
    background-color: pink;
    color: navy;
    border: 15px solid black;
}

.textinputname {
    width:250px;
    height: 25px;
}

.textinputloc {
    width: 250px;
    height: 50px;
}

.textnotes {
    height: 50px;
    width: 250px;
}

.secform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.questionbird {
    height: 250px;
    margin: 0px;
}

footer {
    margin-left: 0px; 
}